* {
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

html {
    background-color: AliceBlue;
}

body{
    min-width:1000px;        /* Suppose you want minimum width of 1000px */
 }